@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* { font-family: "Open Sans"; }
.hero {
    width: 100%;
    height: 100vh;
    background: fixed url("./home/hero-image.jpg") no-repeat center center / cover;
    .text-center { transform: translate(-50%, -50%); }
    .gap-3 { top: 60%; transform: translateX(-50%); }
    #particles-js { height: 100vh; }
}